
.gm-style-iw + div {display: none;}
		.gm-style-iw {text-align:center;}
		
		/*body, html
		{
			width:100%;
			height:100%;
			overflow:hidden;
			background-color:#343434;
			margin:0;
			font-family: Lato,sans-serif;
		}*/
		
		#saudiarabiamap
		{
			position:relative;
			width:100%;
			max-height:100%;
			height:75vh;
			min-height:400px;
			margin-left:auto;
			margin-right:auto;
			
			overflow:hidden;
		}
		
		#saudiarabiamap .bar
		{
			background-color:#f4c664;
			text-align:right;
			font-size:0.75em;
			height:2em;
			line-height:2em;
			color:white;
			right:0;
			width:100%;
			z-index:1;
			overflow:hidden;
			
		}
		
		#saudiarabiamap .bar span
		{
			/*padding-right:0.75em;*/
			color:white;
			cursor:pointer;
		}
	
		/*.bar .disclaimer
		{
			float:left;
			cursor:auto;
		}*/
	
		#saudiarabiamap .bottombar
		{
		position:absolute;
		bottom:0;
		}
			
		#saudiarabiamap #panelLeft
		{
			position:relative;
			width:50%;
			float:left;
			height:100%;
			
			max-width:0;
			transition: max-width 0.25s;
		}
	
		#saudiarabiamap #panelTop
		{
			position:relative;
			width:100%;
			height:50%;
			
			max-height:0;
			transition: max-height 0.25s;
			overflow:hidden;
			
		}
			
	
		#saudiarabiamap #innerPanelLeft
		{
			width:100%;
			height:100%;
			
			
			overflow: hidden;
			
		
			margin:0;
			padding:0;
		}
	
		
		
	#saudiarabiamap #innerPanelTop
		{
			width:100%;
			height:100%;
			
			
			overflow: hidden;
			
		
			margin:0;
			padding:0;
		}
		
		
		
		#saudiarabiamap #sam
		{
			width:auto;
			height:100%;
			
			
		}
			
		
		#saudiarabiamap svg *
		{
			visibility:hidden;
			opacity:1;
		}
		
		#saudiarabiamap svg text
		{
			font-family:Lato,sans-serif;
			font-size:80px !important;
			/*font-style:oblique !important;*/
			visibility:visible;
			pointer-events:none;
		}
		
		#saudiarabiamap svg tspan
		{
		font-family:Lato,sans-serif;
			visibility:visible;
			pointer-events:none;			
		}
		
		#saudiarabiamap #maprow
		{
			height:100%;
		}
		
		#saudiarabiamap div h3 
		{
			margin:0;padding:0;
		}
	
	
		#saudiarabiamap .controls {
        margin-top: 10px;
        border: 1px solid transparent;
        border-radius: 2px 0 0 2px;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        height: 32px;
        outline: none;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
      }

    
	
	#saudiarabiamap .fade-out {
  position: relative;
  max-height: 100%;
}
#saudiarabiamap .fade-out:after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: linear-gradient( rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 1) 90%, rgba(255, 255, 255, 1) 100% );
}
	
	
	#saudiarabiamap .panel 
	{
		background-color:white;
	}
	
	/*.panel .disclaimer
	{
		position:absolute;
		bottom:2em;
		text-align:center;
		background-color:rgb(145, 181, 54);
		color:black;
		border-radius:0 10px 10px 0;
		padding:2px;
	}*/
	
	
	
		#saudiarabiamap .panel h1
		{
			font-weight:300;
			color:#f4c664;
			font-size:2em;
		}
		
		@media screen and (max-width: 800px) {
  		#saudiarabiamap .panel h1
  		{
     		font-size: 1em;
  		}
  		#saudiarabiamap .panel .text
		{
			font-size:0.8em;
		}
		}
		
		#saudiarabiamap .panel .banner
		{
			background-position: center center;
			background-size: cover;
			background-repeat: no-repeat;
			height:25%;
			width:100%;
			
		}
		
		#saudiarabiamap .panel .text
		{
			font-weight:400;
			color:#343434;
		}
	
	
	
		#saudiarabiamap .bar .barreadmore
		{
		float:left;
		margin-left:1em;
		color:black;
		}
		
		#saudiarabiamap .bar .barviewmaps
		{
		color:#4e65a4
		}
		
		#saudiarabiamap .bar .barclose
		{
		margin-left:1em;
		margin-right:1em;
		}
	
		#saudiarabiamap .bar img
		{
		 cursor:pointer;
		}
	
	#saudiarabiamap .infobox
	{
	
	}
	

	